@font-face {
  font-family: 'icon';
  src:  font-url('icon.eot');
  src:  font-url('icon.eot#iefix') format('embedded-opentype'),
    font-url('icon.ttf') format('truetype'),
    font-url('icon.woff') format('woff'),
    font-url('icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  font-smooth: always;
  text-transform: none;
  vertical-align: top;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  [class^="i-"]:before, [class*=" i-"]:before {
    vertical-align: middle;
  }
}

.i-scoring:before {
  content: "\e900";
}
.i-data_palette_web:before {
  content: "\e901";
}
.i-data_palette_ico:before {
  content: "\e902";
}
.i-dataset:before {
  content: "\e903";
}
.i-target:before {
  content: "\e904";
}
.i-crm_ico:before {
  content: "\e905";
}
.i-error:before {
  content: "\f001";
}
.i-error_outline:before {
  content: "\f002";
}
.i-warning:before {
  content: "\f003";
}
.i-add_alert:before {
  content: "\f004";
}
.i-album:before {
  content: "\f005";
}
.i-av_timer:before {
  content: "\f006";
}
.i-closed_caption:before {
  content: "\f007";
}
.i-equalizer:before {
  content: "\f008";
}
.i-explicit:before {
  content: "\f009";
}
.i-fast_forward:before {
  content: "\f010";
}
.i-fast_rewind:before {
  content: "\f011";
}
.i-hearing:before {
  content: "\f013";
}
.i-high_quality:before {
  content: "\f014";
}
.i-loop:before {
  content: "\f015";
}
.i-mic:before {
  content: "\f016";
}
.i-mic_none:before {
  content: "\f017";
}
.i-mic_off:before {
  content: "\f018";
}
.i-movie:before {
  content: "\f019";
}
.i-error_mark:before {
  content: "\f020";
}
.i-library_books:before {
  content: "\f021";
}
.i-library_music:before {
  content: "\f022";
}
.i-attention:before {
  content: "\f023";
}
.i-pause:before {
  content: "\f025";
}
.i-pause_circle_filled:before {
  content: "\f026";
}
.i-pause_circle_outline:before {
  content: "\f027";
}
.i-play_arrow:before {
  content: "\f028";
}
.i-play_circle_filled:before {
  content: "\f029";
}
.i-play_circle_outline:before {
  content: "\f030";
}
.i-list_add:before {
  content: "\f031";
}
.i-queue:before {
  content: "\f032";
}
.i-queue_music:before {
  content: "\f033";
}
.i-radio:before {
  content: "\f034";
}
.i-recent_actors:before {
  content: "\f035";
}
.i-repeat:before {
  content: "\f036";
}
.i-repeat_one:before {
  content: "\f037";
}
.i-replay:before {
  content: "\f038";
}
.i-shuffle:before {
  content: "\f039";
}
.i-skip_next:before {
  content: "\f040";
}
.i-skip_previous:before {
  content: "\f041";
}
.i-snooze:before {
  content: "\f042";
}
.i-stop:before {
  content: "\f043";
}
.i-subtitles:before {
  content: "\f044";
}
.i-surround_sound:before {
  content: "\f045";
}
.i-video_library:before {
  content: "\f046";
}
.i-videocam:before {
  content: "\f047";
}
.i-videocam_off:before {
  content: "\f048";
}
.i-volume_down:before {
  content: "\f049";
}
.i-volume_mute:before {
  content: "\f050";
}
.i-volume_off:before {
  content: "\f051";
}
.i-volume_up:before {
  content: "\f052";
}
.i-web:before {
  content: "\f053";
}
.i-hd:before {
  content: "\f054";
}
.i-sort_by_alpha:before {
  content: "\f055";
}
.i-airplay:before {
  content: "\f056";
}
.i-forward_10:before {
  content: "\f057";
}
.i-forward_30:before {
  content: "\f058";
}
.i-forward_5:before {
  content: "\f059";
}
.i-replay_10:before {
  content: "\f060";
}
.i-replay_30:before {
  content: "\f061";
}
.i-replay_5:before {
  content: "\f062";
}
.i-add_to_queue:before {
  content: "\f063";
}
.i-fiber_dvr:before {
  content: "\f064";
}
.i-fiber_new:before {
  content: "\f065";
}
.i-playlist_play:before {
  content: "\f066";
}
.i-art_track:before {
  content: "\f067";
}
.i-fiber_smart_record:before {
  content: "\f069";
}
.i-music_video:before {
  content: "\f070";
}
.i-subscriptions:before {
  content: "\f071";
}
.i-playlist_add_check:before {
  content: "\f072";
}
.i-queue_play_next:before {
  content: "\f073";
}
.i-remove_from_queue:before {
  content: "\f074";
}
.i-slow_motion_video:before {
  content: "\f075";
}
.i-web_asset:before {
  content: "\f076";
}
.i-fiber_pin:before {
  content: "\f077";
}
.i-branding_watermark:before {
  content: "\f078";
}
.i-call_to_action:before {
  content: "\f079";
}
.i-featured_play_list:before {
  content: "\f080";
}
.i-featured_video:before {
  content: "\f081";
}
.i-note:before {
  content: "\f082";
}
.i-video_call:before {
  content: "\f083";
}
.i-video_label:before {
  content: "\f084";
}
.i-business:before {
  content: "\f085";
}
.i-call:before {
  content: "\f086";
}
.i-call_end:before {
  content: "\f087";
}
.i-call_made:before {
  content: "\f088";
}
.i-call_merge:before {
  content: "\f089";
}
.i-call_missed:before {
  content: "\f090";
}
.i-call_received:before {
  content: "\f091";
}
.i-call_split:before {
  content: "\f092";
}
.i-chat:before {
  content: "\f093";
}
.i-clear_all:before {
  content: "\f094";
}
.i-comment:before {
  content: "\f095";
}
.i-contacts:before {
  content: "\f096";
}
.i-dialer_sip:before {
  content: "\f097";
}
.i-dialpad:before {
  content: "\f098";
}
.i-forum:before {
  content: "\f100";
}
.i-import_export:before {
  content: "\f101";
}
.i-invert_colors_off:before {
  content: "\f102";
}
.i-live_help:before {
  content: "\f103";
}
.i-location_off:before {
  content: "\f104";
}
.i-location_on:before {
  content: "\f105";
}
.i-message:before {
  content: "\f106";
}
.i-chat_bubble:before {
  content: "\f107";
}
.i-chat_bubble_outline:before {
  content: "\f108";
}
.i-no_sim:before {
  content: "\f109";
}
.i-expand_menu:before {
  content: "\f110";
}
.i-portable_wifi_off:before {
  content: "\f111";
}
.i-contact_phone:before {
  content: "\f112";
}
.i-contact_mail:before {
  content: "\f113";
}
.i-ring_volume:before {
  content: "\f114";
}
.i-speaker_phone:before {
  content: "\f115";
}
.i-lpo:before {
  content: "\f116";
}
.i-reception:before {
  content: "\f117";
}
.i-swap_calls:before {
  content: "\f120";
}
.i-textsms:before {
  content: "\f121";
}
.i-voicemail:before {
  content: "\f122";
}
.i-key:before {
  content: "\f123";
}
.i-phonelink_erase:before {
  content: "\f124";
}
.i-phonelink_lock:before {
  content: "\f125";
}
.i-phonelink_ring:before {
  content: "\f126";
}
.i-phonelink_setup:before {
  content: "\f127";
}
.i-present_to_all:before {
  content: "\f128";
}
.i-import_contacts:before {
  content: "\f129";
}
.i-mail_outline:before {
  content: "\f130";
}
.i-screen_share:before {
  content: "\f131";
}
.i-stop_screen_share:before {
  content: "\f132";
}
.i-call_missed_outgoing:before {
  content: "\f133";
}
.i-rss_feed:before {
  content: "\f134";
}
.i-add:before {
  content: "\f135";
}
.i-button:before {
  content: "\f136";
}
.i-add_circle:before {
  content: "\f137";
}
.i-add_circle_outline:before {
  content: "\f138";
}
.i-archive:before {
  content: "\f139";
}
.i-backspace:before {
  content: "\f140";
}
.i-asterisk:before {
  content: "\f142";
}
.i-content_copy:before {
  content: "\f143";
}
.i-content_cut:before {
  content: "\f144";
}
.i-content_paste:before {
  content: "\f145";
}
.i-expand_menu_on:before {
  content: "\f146";
}
.i-mail_open:before {
  content: "\f147";
}
.i-filter_list:before {
  content: "\f148";
}
.i-flag:before {
  content: "\f149";
}
.i-forward:before {
  content: "\f150";
}
.i-gesture:before {
  content: "\f151";
}
.i-inbox:before {
  content: "\f152";
}
.i-link:before {
  content: "\f153";
}
.i-mail:before {
  content: "\f154";
}
.i-bdash:before {
  content: "\f155";
}
.i-redo:before {
  content: "\f156";
}
.i-remove:before {
  content: "\f157";
}
.i-remove_circle:before {
  content: "\f158";
}
.i-remove_circle_outline:before {
  content: "\f159";
}
.i-reply:before {
  content: "\f160";
}
.i-reply_all:before {
  content: "\f161";
}
.i-report:before {
  content: "\f162";
}
.i-save:before {
  content: "\f163";
}
.i-select_all:before {
  content: "\f164";
}
.i-send:before {
  content: "\f165";
}
.i-sort:before {
  content: "\f166";
}
.i-text_format:before {
  content: "\f167";
}
.i-undo:before {
  content: "\f168";
}
.i-font_download:before {
  content: "\f169";
}
.i-move_to_inbox:before {
  content: "\f170";
}
.i-unarchive:before {
  content: "\f171";
}
.i-next_week:before {
  content: "\f172";
}
.i-weekend:before {
  content: "\f173";
}
.i-delete_sweep:before {
  content: "\f174";
}
.i-low_priority:before {
  content: "\f175";
}
.i-sns:before {
  content: "\f176";
}
.i-access_time:before {
  content: "\f178";
}
.i-add_alarm:before {
  content: "\f179";
}
.i-airplanemode_inactive:before {
  content: "\f180";
}
.i-airplanemode_active:before {
  content: "\f181";
}
.i-battery_alert:before {
  content: "\f182";
}
.i-battery_charging_full:before {
  content: "\f183";
}
.i-battery_full:before {
  content: "\f184";
}
.i-battery_std:before {
  content: "\f185";
}
.i-battery_unknown:before {
  content: "\f186";
}
.i-bluetooth:before {
  content: "\f187";
}
.i-bluetooth_connected:before {
  content: "\f188";
}
.i-bluetooth_disabled:before {
  content: "\f189";
}
.i-bluetooth_searching:before {
  content: "\f190";
}
.i-brightness_auto:before {
  content: "\f191";
}
.i-brightness_high:before {
  content: "\f192";
}
.i-brightness_low:before {
  content: "\f193";
}
.i-brightness_medium:before {
  content: "\f194";
}
.i-data_usage:before {
  content: "\f195";
}
.i-developer_mode:before {
  content: "\f196";
}
.i-devices:before {
  content: "\f197";
}
.i-dvr:before {
  content: "\f198";
}
.i-gps_fixed:before {
  content: "\f199";
}
.i-gps_not_fixed:before {
  content: "\f200";
}
.i-gps_off:before {
  content: "\f201";
}
.i-location_disabled:before {
  content: "\f202";
}
.i-location_searching:before {
  content: "\f203";
}
.i-graphic_eq:before {
  content: "\f204";
}
.i-network_cell:before {
  content: "\f205";
}
.i-network_wifi:before {
  content: "\f206";
}
.i-nfc:before {
  content: "\f207";
}
.i-wallpaper:before {
  content: "\f208";
}
.i-widgets:before {
  content: "\f209";
}
.i-screen_lock_landscape:before {
  content: "\f210";
}
.i-screen_lock_portrait:before {
  content: "\f211";
}
.i-screen_lock_rotation:before {
  content: "\f212";
}
.i-screen_rotation:before {
  content: "\f213";
}
.i-sd_storage:before {
  content: "\f214";
}
.i-settings_system_daydream:before {
  content: "\f215";
}
.i-signal_cellular_4_bar:before {
  content: "\f216";
}
.i-signal_cellular_no_internet:before {
  content: "\f217";
}
.i-signal_cellular_no_sim:before {
  content: "\f218";
}
.i-signal_cellular_null:before {
  content: "\f219";
}
.i-signal_cellular_off:before {
  content: "\f220";
}
.i-signal_wifi_4_bar:before {
  content: "\f221";
}
.i-signal_wifi_4_bar_lock:before {
  content: "\f222";
}
.i-signal_wifi_off:before {
  content: "\f223";
}
.i-storage:before {
  content: "\f224";
}
.i-usb:before {
  content: "\f225";
}
.i-wifi_lock:before {
  content: "\f226";
}
.i-wifi_tethering:before {
  content: "\f227";
}
.i-attach_file:before {
  content: "\f228";
}
.i-attach_money:before {
  content: "\f229";
}
.i-border_all:before {
  content: "\f230";
}
.i-border_bottom:before {
  content: "\f231";
}
.i-border_clear:before {
  content: "\f232";
}
.i-border_color:before {
  content: "\f233";
}
.i-border_horizontal:before {
  content: "\f234";
}
.i-border_inner:before {
  content: "\f235";
}
.i-border_left:before {
  content: "\f236";
}
.i-border_outer:before {
  content: "\f237";
}
.i-border_right:before {
  content: "\f238";
}
.i-border_style:before {
  content: "\f239";
}
.i-border_top:before {
  content: "\f240";
}
.i-border_vertical:before {
  content: "\f241";
}
.i-format_align_center:before {
  content: "\f242";
}
.i-format_align_justify:before {
  content: "\f243";
}
.i-format_align_left:before {
  content: "\f244";
}
.i-format_align_right:before {
  content: "\f245";
}
.i-format_bold:before {
  content: "\f246";
}
.i-format_clear:before {
  content: "\f247";
}
.i-format_color_fill:before {
  content: "\f248";
}
.i-format_color_reset:before {
  content: "\f249";
}
.i-format_color_text:before {
  content: "\f250";
}
.i-format_indent_decrease:before {
  content: "\f251";
}
.i-format_indent_increase:before {
  content: "\f252";
}
.i-format_italic:before {
  content: "\f253";
}
.i-format_line_spacing:before {
  content: "\f254";
}
.i-format_list_bulleted:before {
  content: "\f255";
}
.i-format_list_numbered:before {
  content: "\f256";
}
.i-format_paint:before {
  content: "\f257";
}
.i-format_quote:before {
  content: "\f258";
}
.i-format_size:before {
  content: "\f259";
}
.i-format_strikethrough:before {
  content: "\f260";
}
.i-format_textdirection_l_to_r:before {
  content: "\f261";
}
.i-format_textdirection_r_to_l:before {
  content: "\f262";
}
.i-format_underlined:before {
  content: "\f263";
}
.i-functions:before {
  content: "\f264";
}
.i-insert_chart:before {
  content: "\f265";
}
.i-insert_comment:before {
  content: "\f266";
}
.i-insert_drive_file:before {
  content: "\f267";
}
.i-filter:before {
  content: "\f268";
}
.i-insert_link:before {
  content: "\f270";
}
.i-insert_photo:before {
  content: "\f271";
}
.i-merge_type:before {
  content: "\f272";
}
.i-mode_comment:before {
  content: "\f273";
}
.i-mode_edit:before {
  content: "\f274";
}
.i-upload:before {
  content: "\f275";
}
.i-space_bar:before {
  content: "\f276";
}
.i-strikethrough_s:before {
  content: "\f277";
}
.i-vertical_align_bottom:before {
  content: "\f278";
}
.i-vertical_align_center:before {
  content: "\f279";
}
.i-vertical_align_top:before {
  content: "\f280";
}
.i-wrap_text:before {
  content: "\f281";
}
.i-money_off:before {
  content: "\f282";
}
.i-drag_handle:before {
  content: "\f283";
}
.i-format_shapes:before {
  content: "\f284";
}
.i-highlight:before {
  content: "\f285";
}
.i-linear_scale:before {
  content: "\f286";
}
.i-short_text:before {
  content: "\f287";
}
.i-text_fields:before {
  content: "\f288";
}
.i-monetization_on:before {
  content: "\f289";
}
.i-title:before {
  content: "\f290";
}
.i-attachment:before {
  content: "\f291";
}
.i-cloud:before {
  content: "\f292";
}
.i-cloud_circle:before {
  content: "\f293";
}
.i-cloud_done:before {
  content: "\f294";
}
.i-cloud_download:before {
  content: "\f295";
}
.i-cloud_off:before {
  content: "\f296";
}
.i-cloud_queue:before {
  content: "\f297";
}
.i-cloud_upload:before {
  content: "\f298";
}
.i-download:before {
  content: "\f299";
}
.i-file_upload:before {
  content: "\f300";
}
.i-folder:before {
  content: "\f301";
}
.i-folder_open:before {
  content: "\f302";
}
.i-folder_shared:before {
  content: "\f303";
}
.i-create_new_folder:before {
  content: "\f304";
}
.i-cast:before {
  content: "\f305";
}
.i-cast_connected:before {
  content: "\f306";
}
.i-computer:before {
  content: "\f307";
}
.i-desktop_mac:before {
  content: "\f308";
}
.i-desktop_windows:before {
  content: "\f309";
}
.i-developer_board:before {
  content: "\f310";
}
.i-dock:before {
  content: "\f311";
}
.i-gamepad:before {
  content: "\f312";
}
.i-headset:before {
  content: "\f313";
}
.i-headset_mic:before {
  content: "\f314";
}
.i-keyboard:before {
  content: "\f315";
}
.i-bottom:before {
  content: "\f316";
}
.i-left:before {
  content: "\f317";
}
.i-right:before {
  content: "\f318";
}
.i-top:before {
  content: "\f319";
}
.i-arrow_backspace:before {
  content: "\f320";
}
.i-keyboard_capslock:before {
  content: "\f321";
}
.i-keyboard_hide:before {
  content: "\f322";
}
.i-keyboard_return:before {
  content: "\f323";
}
.i-keyboard_tab:before {
  content: "\f324";
}
.i-keyboard_voice:before {
  content: "\f325";
}
.i-laptop:before {
  content: "\f326";
}
.i-laptop_chromebook:before {
  content: "\f327";
}
.i-laptop_mac:before {
  content: "\f328";
}
.i-laptop_windows:before {
  content: "\f329";
}
.i-memory:before {
  content: "\f330";
}
.i-mouse:before {
  content: "\f331";
}
.i-phone_android:before {
  content: "\f332";
}
.i-phone_iphone:before {
  content: "\f333";
}
.i-phonelink:before {
  content: "\f334";
}
.i-phonelink_off:before {
  content: "\f335";
}
.i-router:before {
  content: "\f336";
}
.i-scanner:before {
  content: "\f337";
}
.i-security:before {
  content: "\f338";
}
.i-sim_card:before {
  content: "\f339";
}
.i-smartphone:before {
  content: "\f340";
}
.i-speaker:before {
  content: "\f341";
}
.i-speaker_group:before {
  content: "\f342";
}
.i-tablet:before {
  content: "\f343";
}
.i-tablet_android:before {
  content: "\f344";
}
.i-tablet_mac:before {
  content: "\f345";
}
.i-toys:before {
  content: "\f346";
}
.i-tv:before {
  content: "\f347";
}
.i-watch:before {
  content: "\f348";
}
.i-device_hub:before {
  content: "\f349";
}
.i-power_input:before {
  content: "\f350";
}
.i-devices_other:before {
  content: "\f351";
}
.i-videogame_asset:before {
  content: "\f352";
}
.i-add_to_photos:before {
  content: "\f353";
}
.i-adjust:before {
  content: "\f354";
}
.i-assistant:before {
  content: "\f355";
}
.i-assistant_photo:before {
  content: "\f356";
}
.i-audiotrack:before {
  content: "\f357";
}
.i-blur_circular:before {
  content: "\f358";
}
.i-blur_linear:before {
  content: "\f359";
}
.i-blur_off:before {
  content: "\f360";
}
.i-blur_on:before {
  content: "\f361";
}
.i-brightness_1:before {
  content: "\f362";
}
.i-brightness_2:before {
  content: "\f363";
}
.i-brightness_3:before {
  content: "\f364";
}
.i-brightness_4:before {
  content: "\f365";
}
.i-brightness_5:before {
  content: "\f366";
}
.i-brightness_6:before {
  content: "\f367";
}
.i-brightness_7:before {
  content: "\f368";
}
.i-broken_image:before {
  content: "\f369";
}
.i-brush:before {
  content: "\f370";
}
.i-camera:before {
  content: "\f371";
}
.i-devider:before {
  content: "\f372";
}
.i-camera_front:before {
  content: "\f373";
}
.i-camera_rear:before {
  content: "\f374";
}
.i-camera_roll:before {
  content: "\f375";
}
.i-center_focus_strong:before {
  content: "\f376";
}
.i-center_focus_weak:before {
  content: "\f377";
}
.i-collections:before {
  content: "\f378";
}
.i-color_lens:before {
  content: "\f379";
}
.i-colorize:before {
  content: "\f380";
}
.i-compare:before {
  content: "\f381";
}
.i-control_point:before {
  content: "\f382";
}
.i-control_point_duplicate:before {
  content: "\f383";
}
.i-crop_16_9:before {
  content: "\f384";
}
.i-crop_3_2:before {
  content: "\f385";
}
.i-crop:before {
  content: "\f386";
}
.i-crop_5_4:before {
  content: "\f387";
}
.i-crop_7_5:before {
  content: "\f388";
}
.i-crop_din:before {
  content: "\f389";
}
.i-crop_free:before {
  content: "\f390";
}
.i-crop_landscape:before {
  content: "\f391";
}
.i-crop_original:before {
  content: "\f392";
}
.i-crop_portrait:before {
  content: "\f393";
}
.i-crop_square:before {
  content: "\f394";
}
.i-details:before {
  content: "\f396";
}
.i-edit:before {
  content: "\f397";
}
.i-exposure:before {
  content: "\f398";
}
.i-exposure_neg_1:before {
  content: "\f399";
}
.i-exposure_neg_2:before {
  content: "\f400";
}
.i-exposure_plus_1:before {
  content: "\f401";
}
.i-exposure_plus_2:before {
  content: "\f402";
}
.i-exposure_zero:before {
  content: "\f403";
}
.i-filter_1:before {
  content: "\f404";
}
.i-filter_2:before {
  content: "\f405";
}
.i-filter_3:before {
  content: "\f406";
}
.i-image_filter:before {
  content: "\f407";
}
.i-filter_4:before {
  content: "\f408";
}
.i-filter_5:before {
  content: "\f409";
}
.i-filter_6:before {
  content: "\f410";
}
.i-filter_7:before {
  content: "\f411";
}
.i-filter_8:before {
  content: "\f412";
}
.i-filter_9:before {
  content: "\f413";
}
.i-filter_9_plus:before {
  content: "\f414";
}
.i-filter_b_and_w:before {
  content: "\f415";
}
.i-filter_center_focus:before {
  content: "\f416";
}
.i-filter_drama:before {
  content: "\f417";
}
.i-filter_frames:before {
  content: "\f418";
}
.i-filter_hdr:before {
  content: "\f419";
}
.i-filter_none:before {
  content: "\f420";
}
.i-filter_tilt_shift:before {
  content: "\f421";
}
.i-filter_vintage:before {
  content: "\f422";
}
.i-flare:before {
  content: "\f423";
}
.i-flash_auto:before {
  content: "\f424";
}
.i-flash_off:before {
  content: "\f425";
}
.i-flash_on:before {
  content: "\f426";
}
.i-flip:before {
  content: "\f427";
}
.i-gradient:before {
  content: "\f428";
}
.i-grain:before {
  content: "\f429";
}
.i-grid_off:before {
  content: "\f430";
}
.i-grid_on:before {
  content: "\f431";
}
.i-hdr_off:before {
  content: "\f432";
}
.i-hdr_on:before {
  content: "\f433";
}
.i-hdr_strong:before {
  content: "\f434";
}
.i-hdr_weak:before {
  content: "\f435";
}
.i-healing:before {
  content: "\f436";
}
.i-image:before {
  content: "\f437";
}
.i-image_aspect_ratio:before {
  content: "\f438";
}
.i-iso:before {
  content: "\f439";
}
.i-landscape:before {
  content: "\f440";
}
.i-leak_add:before {
  content: "\f441";
}
.i-leak_remove:before {
  content: "\f442";
}
.i-lens:before {
  content: "\f443";
}
.i-looks_3:before {
  content: "\f444";
}
.i-looks:before {
  content: "\f445";
}
.i-looks_4:before {
  content: "\f446";
}
.i-looks_5:before {
  content: "\f447";
}
.i-looks_6:before {
  content: "\f448";
}
.i-looks_one:before {
  content: "\f449";
}
.i-looks_two:before {
  content: "\f450";
}
.i-loupe:before {
  content: "\f451";
}
.i-monochrome_photos:before {
  content: "\f452";
}
.i-movie_creation:before {
  content: "\f453";
}
.i-music_note:before {
  content: "\f454";
}
.i-nature:before {
  content: "\f455";
}
.i-nature_people:before {
  content: "\f456";
}
.i-table:before {
  content: "\f457";
}
.i-palette:before {
  content: "\f459";
}
.i-panorama:before {
  content: "\f460";
}
.i-panorama_fish_eye:before {
  content: "\f461";
}
.i-panorama_horizontal:before {
  content: "\f462";
}
.i-panorama_vertical:before {
  content: "\f463";
}
.i-panorama_wide_angle:before {
  content: "\f464";
}
.i-photo_album:before {
  content: "\f466";
}
.i-photo_camera:before {
  content: "\f467";
}
.i-photo_library:before {
  content: "\f468";
}
.i-picture_as_pdf:before {
  content: "\f469";
}
.i-portrait:before {
  content: "\f470";
}
.i-rotate_90_degrees_ccw:before {
  content: "\f472";
}
.i-rotate_left:before {
  content: "\f473";
}
.i-rotate_right:before {
  content: "\f474";
}
.i-slideshow:before {
  content: "\f475";
}
.i-straighten:before {
  content: "\f476";
}
.i-style:before {
  content: "\f477";
}
.i-switch_camera:before {
  content: "\f478";
}
.i-switch_video:before {
  content: "\f479";
}
.i-tag_faces:before {
  content: "\f480";
}
.i-texture:before {
  content: "\f481";
}
.i-timelapse:before {
  content: "\f482";
}
.i-timer_10:before {
  content: "\f483";
}
.i-timer_3:before {
  content: "\f484";
}
.i-timer:before {
  content: "\f485";
}
.i-timer_off:before {
  content: "\f486";
}
.i-tonality:before {
  content: "\f487";
}
.i-transform:before {
  content: "\f488";
}
.i-tune:before {
  content: "\f489";
}
.i-view_comfy:before {
  content: "\f490";
}
.i-view_compact:before {
  content: "\f491";
}
.i-wb_auto:before {
  content: "\f492";
}
.i-wb_cloudy:before {
  content: "\f493";
}
.i-wb_incandescent:before {
  content: "\f494";
}
.i-wb_sunny:before {
  content: "\f495";
}
.i-collections_bookmark:before {
  content: "\f496";
}
.i-photo_size_select_large:before {
  content: "\f498";
}
.i-photo_size_select_small:before {
  content: "\f499";
}
.i-vignette:before {
  content: "\f500";
}
.i-click_able:before {
  content: "\f501";
}
.i-crop_rotate:before {
  content: "\f502";
}
.i-linked_camera:before {
  content: "\f503";
}
.i-add_a_photo:before {
  content: "\f504";
}
.i-movie_filter:before {
  content: "\f505";
}
.i-photo_filter:before {
  content: "\f506";
}
.i-brust_mode:before {
  content: "\f507";
}
.i-beenhere:before {
  content: "\f508";
}
.i-directions:before {
  content: "\f509";
}
.i-directions_bike:before {
  content: "\f510";
}
.i-directions_bus:before {
  content: "\f511";
}
.i-directions_car:before {
  content: "\f512";
}
.i-directions_boat:before {
  content: "\f513";
}
.i-directions_transit:before {
  content: "\f514";
}
.i-directions_railway:before {
  content: "\f515";
}
.i-directions_subway:before {
  content: "\f516";
}
.i-directions_walk:before {
  content: "\f517";
}
.i-flight:before {
  content: "\f518";
}
.i-hotel:before {
  content: "\f519";
}
.i-layers:before {
  content: "\f520";
}
.i-layers_clear:before {
  content: "\f521";
}
.i-local_airport:before {
  content: "\f522";
}
.i-local_atm:before {
  content: "\f523";
}
.i-local_activity:before {
  content: "\f524";
}
.i-local_bar:before {
  content: "\f525";
}
.i-local_cafe:before {
  content: "\f526";
}
.i-local_car_wash:before {
  content: "\f527";
}
.i-local_convenience_store:before {
  content: "\f528";
}
.i-local_drink:before {
  content: "\f529";
}
.i-local_florist:before {
  content: "\f530";
}
.i-local_gas_station:before {
  content: "\f531";
}
.i-local_grocery_store:before {
  content: "\f532";
}
.i-local_hospital:before {
  content: "\f533";
}
.i-local_hotel:before {
  content: "\f534";
}
.i-local_laundry_service:before {
  content: "\f535";
}
.i-local_library:before {
  content: "\f536";
}
.i-local_mail:before {
  content: "\f537";
}
.i-local_movies:before {
  content: "\f538";
}
.i-label:before {
  content: "\f539";
}
.i-local_parking:before {
  content: "\f540";
}
.i-local_pharmacy:before {
  content: "\f541";
}
.i-local_pizza:before {
  content: "\f543";
}
.i-local_play:before {
  content: "\f544";
}
.i-local_printshop:before {
  content: "\f546";
}
.i-local_dining:before {
  content: "\f547";
}
.i-local_see:before {
  content: "\f548";
}
.i-local_shipping:before {
  content: "\f549";
}
.i-local_taxi:before {
  content: "\f550";
}
.i-location_history:before {
  content: "\f551";
}
.i-map:before {
  content: "\f552";
}
.i-my_location:before {
  content: "\f553";
}
.i-navigation:before {
  content: "\f554";
}
.i-pin_drop:before {
  content: "\f555";
}
.i-place:before {
  content: "\f556";
}
.i-rate_review:before {
  content: "\f557";
}
.i-restaurant_menu:before {
  content: "\f558";
}
.i-satellite:before {
  content: "\f559";
}
.i-store_mall_directory:before {
  content: "\f560";
}
.i-terrain:before {
  content: "\f561";
}
.i-traffic:before {
  content: "\f562";
}
.i-directions_run:before {
  content: "\f563";
}
.i-add_location:before {
  content: "\f564";
}
.i-edit_location:before {
  content: "\f565";
}
.i-near_me:before {
  content: "\f566";
}
.i-person_pin_circle:before {
  content: "\f567";
}
.i-zoom_out_map:before {
  content: "\f568";
}
.i-restaurant:before {
  content: "\f569";
}
.i-ev_station:before {
  content: "\f570";
}
.i-streetview:before {
  content: "\f571";
}
.i-subway:before {
  content: "\f572";
}
.i-train:before {
  content: "\f573";
}
.i-tram:before {
  content: "\f574";
}
.i-transfer_within_a_station:before {
  content: "\f575";
}
.i-apps:before {
  content: "\f576";
}
.i-arrow_back:before {
  content: "\f577";
}
.i-arrow_drop_down:before {
  content: "\f578";
}
.i-arrow_drop_down_circle:before {
  content: "\f579";
}
.i-arrow_drop_up:before {
  content: "\f580";
}
.i-arrow_forward:before {
  content: "\f581";
}
.i-cancel:before {
  content: "\f582";
}
.i-check:before {
  content: "\f583";
}
.i-person_remove:before {
  content: "\f584";
}
.i-connect:before {
  content: "\f585";
}
.i-close:before {
  content: "\f586";
}
.i-expand_h:before {
  content: "\f588";
}
.i-fullscreen:before {
  content: "\f589";
}
.i-fullscreen_exit:before {
  content: "\f590";
}
.i-menu:before {
  content: "\f591";
}
.i-more_horiz:before {
  content: "\f592";
}
.i-more_vert:before {
  content: "\f593";
}
.i-refresh:before {
  content: "\f594";
}
.i-unfold_less:before {
  content: "\f595";
}
.i-unfold_more:before {
  content: "\f596";
}
.i-arrow_top:before {
  content: "\f597";
}
.i-subdirectory_arrow_left:before {
  content: "\f598";
}
.i-subdirectory_arrow_right:before {
  content: "\f599";
}
.i-arrow_bottom:before {
  content: "\f600";
}
.i-first_page:before {
  content: "\f601";
}
.i-last_page:before {
  content: "\f602";
}
.i-abd:before {
  content: "\f603";
}
.i-bluetooth_audio:before {
  content: "\f604";
}
.i-disc_full:before {
  content: "\f605";
}
.i-do_not_disturb_alt:before {
  content: "\f606";
}
.i-do_not_disturb:before {
  content: "\f607";
}
.i-drive_eta:before {
  content: "\f608";
}
.i-event_available:before {
  content: "\f609";
}
.i-event_busy:before {
  content: "\f610";
}
.i-event_note:before {
  content: "\f611";
}
.i-folder_special:before {
  content: "\f612";
}
.i-mms:before {
  content: "\f613";
}
.i-more:before {
  content: "\f614";
}
.i-network_locked:before {
  content: "\f615";
}
.i-phone_bluetooth_speaker:before {
  content: "\f616";
}
.i-phone_forwarded:before {
  content: "\f617";
}
.i-phone_in_talk:before {
  content: "\f618";
}
.i-phone_locked:before {
  content: "\f619";
}
.i-phone_missed:before {
  content: "\f620";
}
.i-phone_paused:before {
  content: "\f621";
}
.i-sd_card:before {
  content: "\f622";
}
.i-sim_card_alert:before {
  content: "\f623";
}
.i-sms:before {
  content: "\f624";
}
.i-add_user:before {
  content: "\f625";
}
.i-sync_disabled:before {
  content: "\f627";
}
.i-sync_problem:before {
  content: "\f628";
}
.i-system_update:before {
  content: "\f629";
}
.i-tap_and_play:before {
  content: "\f630";
}
.i-time_to_leave:before {
  content: "\f631";
}
.i-vibration:before {
  content: "\f632";
}
.i-voice_chat:before {
  content: "\f633";
}
.i-vpn_lock:before {
  content: "\f634";
}
.i-airline_seat_flat:before {
  content: "\f635";
}
.i-airline_seat_flat_angled:before {
  content: "\f636";
}
.i-airline_seat_individual_suite:before {
  content: "\f637";
}
.i-airline_seat_legroom_extra:before {
  content: "\f638";
}
.i-airline_seat_legroom_normal:before {
  content: "\f639";
}
.i-airline_seat_legroom_reduced:before {
  content: "\f640";
}
.i-airline_seat_recline_extra:before {
  content: "\f641";
}
.i-airline_seat_recline_normal:before {
  content: "\f642";
}
.i-confirmation_number:before {
  content: "\f643";
}
.i-line_tv:before {
  content: "\f644";
}
.i-ondemand_video:before {
  content: "\f645";
}
.i-personal_video:before {
  content: "\f646";
}
.i-power:before {
  content: "\f647";
}
.i-wc:before {
  content: "\f648";
}
.i-wifi:before {
  content: "\f649";
}
.i-enhanced_encryption:before {
  content: "\f650";
}
.i-network_check:before {
  content: "\f651";
}
.i-no_encryption:before {
  content: "\f652";
}
.i-rv_hookup:before {
  content: "\f653";
}
.i-do_not_disturb_off:before {
  content: "\f654";
}
.i-do_not_disturb_on:before {
  content: "\f655";
}
.i-priority_high:before {
  content: "\f656";
}
.i-pie_chart:before {
  content: "\f657";
}
.i-pie_chart_outlined:before {
  content: "\f658";
}
.i-bubble_chart:before {
  content: "\f659";
}
.i-multiline_chart:before {
  content: "\f660";
}
.i-show_chart:before {
  content: "\f661";
}
.i-cake:before {
  content: "\f662";
}
.i-logout:before {
  content: "\f663";
}
.i-login:before {
  content: "\f664";
}
.i-group_add:before {
  content: "\f665";
}
.i-location_city:before {
  content: "\f666";
}
.i-mood:before {
  content: "\f667";
}
.i-mood_bad:before {
  content: "\f668";
}
.i-notifications:before {
  content: "\f669";
}
.i-notifications_none:before {
  content: "\f670";
}
.i-notifications_off:before {
  content: "\f671";
}
.i-notifications_active:before {
  content: "\f672";
}
.i-notifications_paused:before {
  content: "\f673";
}
.i-pages:before {
  content: "\f674";
}
.i-party_mode:before {
  content: "\f675";
}
.i-people:before {
  content: "\f676";
}
.i-people_outline:before {
  content: "\f677";
}
.i-person:before {
  content: "\f678";
}
.i-person_add:before {
  content: "\f679";
}
.i-person_outline:before {
  content: "\f680";
}
.i-plus_one:before {
  content: "\f681";
}
.i-public:before {
  content: "\f683";
}
.i-school:before {
  content: "\f684";
}
.i-share:before {
  content: "\f685";
}
.i-whatshot:before {
  content: "\f686";
}
.i-sentiment_dissatisfied:before {
  content: "\f687";
}
.i-sentiment_neutral:before {
  content: "\f688";
}
.i-sentiment_satisfied:before {
  content: "\f689";
}
.i-sentiment_very_dissatisfied:before {
  content: "\f690";
}
.i-sentiment_very_satisfied:before {
  content: "\f691";
}
.i-check_box:before {
  content: "\f692";
}
.i-check_box_outline_blank:before {
  content: "\f693";
}
.i-radio_button_unchecked:before {
  content: "\f694";
}
.i-radio_button_checked:before {
  content: "\f695";
}
.i-star:before {
  content: "\f696";
}
.i-star_half:before {
  content: "\f697";
}
.i-star_border:before {
  content: "\f698";
}
.i-three_d_rotation:before {
  content: "\f699";
}
.i-accessibility:before {
  content: "\f700";
}
.i-account_balance:before {
  content: "\f701";
}
.i-account_balance_wallet:before {
  content: "\f702";
}
.i-account_box:before {
  content: "\f703";
}
.i-account_circle:before {
  content: "\f704";
}
.i-add_shopping_cart:before {
  content: "\f705";
}
.i-alarm:before {
  content: "\f706";
}
.i-alarm_add:before {
  content: "\f707";
}
.i-alarm_off:before {
  content: "\f708";
}
.i-alarm_on:before {
  content: "\f709";
}
.i-android:before {
  content: "\f710";
}
.i-aspect_ratio:before {
  content: "\f712";
}
.i-assessment:before {
  content: "\f713";
}
.i-assignment:before {
  content: "\f714";
}
.i-assignment_ind:before {
  content: "\f715";
}
.i-assignment_late:before {
  content: "\f716";
}
.i-assignment_return:before {
  content: "\f717";
}
.i-assignment_returned:before {
  content: "\f718";
}
.i-assignment_turned_in:before {
  content: "\f719";
}
.i-backup:before {
  content: "\f721";
}
.i-book:before {
  content: "\f722";
}
.i-bookmark:before {
  content: "\f723";
}
.i-bookmark_border:before {
  content: "\f724";
}
.i-bug_report:before {
  content: "\f725";
}
.i-build:before {
  content: "\f726";
}
.i-change_history:before {
  content: "\f728";
}
.i-check_circle:before {
  content: "\f729";
}
.i-chrome_reader_mode:before {
  content: "\f730";
}
.i-class:before {
  content: "\f731";
}
.i-code:before {
  content: "\f732";
}
.i-credit_card:before {
  content: "\f733";
}
.i-dashboard:before {
  content: "\f734";
}
.i-delete:before {
  content: "\f735";
}
.i-description:before {
  content: "\f736";
}
.i-dns:before {
  content: "\f737";
}
.i-campaign:before {
  content: "\f738";
}
.i-done_all:before {
  content: "\f739";
}
.i-event:before {
  content: "\f740";
}
.i-exit_to_app:before {
  content: "\f741";
}
.i-explore:before {
  content: "\f742";
}
.i-extension:before {
  content: "\f743";
}
.i-face:before {
  content: "\f744";
}
.i-favorite:before {
  content: "\f745";
}
.i-favorite_border:before {
  content: "\f746";
}
.i-feedback:before {
  content: "\f747";
}
.i-find_in_page:before {
  content: "\f748";
}
.i-find_replace:before {
  content: "\f749";
}
.i-flip_tp_back:before {
  content: "\f750";
}
.i-flip_to_front:before {
  content: "\f751";
}
.i-push:before {
  content: "\f752";
}
.i-group_work:before {
  content: "\f754";
}
.i-help:before {
  content: "\f755";
}
.i-history:before {
  content: "\f757";
}
.i-home:before {
  content: "\f758";
}
.i-hourglass_empty:before {
  content: "\f759";
}
.i-hourglass_full:before {
  content: "\f760";
}
.i-info:before {
  content: "\f762";
}
.i-info_outline:before {
  content: "\f763";
}
.i-input:before {
  content: "\f764";
}
.i-invert_colors:before {
  content: "\f765";
}
.i-tag:before {
  content: "\f766";
}
.i-tag_outline:before {
  content: "\f767";
}
.i-network:before {
  content: "\f768";
}
.i-launch:before {
  content: "\f769";
}
.i-list:before {
  content: "\f770";
}
.i-lock:before {
  content: "\f771";
}
.i-lock_open:before {
  content: "\f772";
}
.i-lock_outline:before {
  content: "\f773";
}
.i-loyalty:before {
  content: "\f774";
}
.i-markunread_mailbox:before {
  content: "\f775";
}
.i-note_add:before {
  content: "\f776";
}
.i-open_in_browser:before {
  content: "\f777";
}
.i-open_in_new:before {
  content: "\f778";
}
.i-open_with:before {
  content: "\f779";
}
.i-pageview:before {
  content: "\f780";
}
.i-payment:before {
  content: "\f781";
}
.i-perm_camera_mic:before {
  content: "\f782";
}
.i-perm_contact_calendar:before {
  content: "\f783";
}
.i-perm_data_setting:before {
  content: "\f784";
}
.i-perm_device_information:before {
  content: "\f785";
}
.i-perm_media:before {
  content: "\f787";
}
.i-perm_phone_msg:before {
  content: "\f788";
}
.i-perm_scan_wifi:before {
  content: "\f789";
}
.i-picture_in_picture:before {
  content: "\f790";
}
.i-polymer:before {
  content: "\f791";
}
.i-power_settings_new:before {
  content: "\f792";
}
.i-print:before {
  content: "\f793";
}
.i-question_answer:before {
  content: "\f795";
}
.i-receipt:before {
  content: "\f796";
}
.i-redeem:before {
  content: "\f797";
}
.i-event_loop:before {
  content: "\f801";
}
.i-search:before {
  content: "\f802";
}
.i-settings:before {
  content: "\f803";
}
.i-settings_applications:before {
  content: "\f804";
}
.i-settings_backup_restore:before {
  content: "\f805";
}
.i-settings_bluetooth:before {
  content: "\f806";
}
.i-settings_cell:before {
  content: "\f807";
}
.i-settings_brightness:before {
  content: "\f808";
}
.i-settings_ethernet:before {
  content: "\f809";
}
.i-settings_input_antenna:before {
  content: "\f810";
}
.i-settings_input_component:before {
  content: "\f811";
}
.i-settings_input_hdmi:before {
  content: "\f813";
}
.i-settings_input_svideo:before {
  content: "\f814";
}
.i-settings_overscan:before {
  content: "\f815";
}
.i-settings_phone:before {
  content: "\f816";
}
.i-settings_power:before {
  content: "\f817";
}
.i-settings_remote:before {
  content: "\f818";
}
.i-settings_voice:before {
  content: "\f819";
}
.i-shop:before {
  content: "\f820";
}
.i-shop_two:before {
  content: "\f821";
}
.i-shopping_basket:before {
  content: "\f822";
}
.i-shopping_cart:before {
  content: "\f823";
}
.i-speaker_notes:before {
  content: "\f824";
}
.i-spellcheck:before {
  content: "\f825";
}
.i-star_rate:before {
  content: "\f826";
}
.i-store:before {
  content: "\f827";
}
.i-subject:before {
  content: "\f828";
}
.i-supervisor_account:before {
  content: "\f829";
}
.i-swap_horiz:before {
  content: "\f830";
}
.i-swap_vert:before {
  content: "\f831";
}
.i-swap_vertical_circle:before {
  content: "\f832";
}
.i-system_update_alt:before {
  content: "\f833";
}
.i-tab:before {
  content: "\f834";
}
.i-tab_unselected:before {
  content: "\f835";
}
.i-theaters:before {
  content: "\f836";
}
.i-thumb_down:before {
  content: "\f837";
}
.i-thumb_up:before {
  content: "\f838";
}
.i-thumb_up_down:before {
  content: "\f839";
}
.i-toc:before {
  content: "\f840";
}
.i-today:before {
  content: "\f841";
}
.i-toll:before {
  content: "\f842";
}
.i-track_changes:before {
  content: "\f843";
}
.i-translate:before {
  content: "\f844";
}
.i-trending_down:before {
  content: "\f845";
}
.i-trending_flat:before {
  content: "\f846";
}
.i-trending_up:before {
  content: "\f847";
}
.i-column:before {
  content: "\f848";
}
.i-branch:before {
  content: "\f849";
}
.i-verified_user:before {
  content: "\f850";
}
.i-view_agenda:before {
  content: "\f851";
}
.i-view_array:before {
  content: "\f852";
}
.i-view_carousel:before {
  content: "\f853";
}
.i-view_column:before {
  content: "\f854";
}
.i-view_day:before {
  content: "\f855";
}
.i-view_headline:before {
  content: "\f856";
}
.i-view_list:before {
  content: "\f857";
}
.i-view_module:before {
  content: "\f858";
}
.i-view_quilt:before {
  content: "\f859";
}
.i-view_stream:before {
  content: "\f860";
}
.i-view_week:before {
  content: "\f861";
}
.i-visibility:before {
  content: "\f862";
}
.i-visibility_off:before {
  content: "\f863";
}
.i-card_giftcard:before {
  content: "\f864";
}
.i-card_membership:before {
  content: "\f865";
}
.i-card_travel:before {
  content: "\f866";
}
.i-work:before {
  content: "\f867";
}
.i-youtube_searched_for:before {
  content: "\f868";
}
.i-eject:before {
  content: "\f869";
}
.i-camera_enhance:before {
  content: "\f870";
}
.i-help_outline:before {
  content: "\f871";
}
.i-zoom_in:before {
  content: "\f873";
}
.i-zoom_out:before {
  content: "\f874";
}
.i-http:before {
  content: "\f875";
}
.i-event_seat:before {
  content: "\f876";
}
.i-flight_land:before {
  content: "\f877";
}
.i-flight_takeoff:before {
  content: "\f878";
}
.i-play_for_work:before {
  content: "\f879";
}
.i-gif:before {
  content: "\f880";
}
.i-indeterminate_check_box:before {
  content: "\f881";
}
.i-offline_pin:before {
  content: "\f882";
}
.i-all_out:before {
  content: "\f883";
}
.i-copyright:before {
  content: "\f884";
}
.i-fingerprint:before {
  content: "\f885";
}
.i-gavel:before {
  content: "\f886";
}
.i-lightbulb_outline:before {
  content: "\f887";
}
.i-picture_in_picture_alt:before {
  content: "\f888";
}
.i-important_devices:before {
  content: "\f889";
}
.i-touch_app:before {
  content: "\f890";
}
.i-accessible:before {
  content: "\f891";
}
.i-compare_arrows:before {
  content: "\f892";
}
.i-date_range:before {
  content: "\f893";
}
.i-donut_large:before {
  content: "\f894";
}
.i-donut_small:before {
  content: "\f895";
}
.i-line_style:before {
  content: "\f896";
}
.i-line_weight:before {
  content: "\f897";
}
.i-motorcycle:before {
  content: "\f898";
}
.i-opacity:before {
  content: "\f899";
}
.i-pets:before {
  content: "\f900";
}
.i-pregnant_woman:before {
  content: "\f901";
}
.i-record_voice_over:before {
  content: "\f902";
}
.i-rounded_corner:before {
  content: "\f903";
}
.i-rowing:before {
  content: "\f904";
}
.i-timeline:before {
  content: "\f905";
}
.i-update:before {
  content: "\f906";
}
.i-watch_later:before {
  content: "\f907";
}
.i-pan_tool:before {
  content: "\f908";
}
.i-euro_symbol:before {
  content: "\f909";
}
.i-g_translate:before {
  content: "\f910";
}
.i-remove_shopping_cart:before {
  content: "\f911";
}
.i-restore_page:before {
  content: "\f912";
}
.i-speaker_notes_offq:before {
  content: "\f913";
}
.i-delete_forever:before {
  content: "\f914";
}
.i-ac_unit:before {
  content: "\f915";
}
.i-airport_shuttle:before {
  content: "\f916";
}
.i-all_inclusive:before {
  content: "\f917";
}
.i-beach_access:before {
  content: "\f918";
}
.i-business_center:before {
  content: "\f919";
}
.i-casino:before {
  content: "\f920";
}
.i-child_care:before {
  content: "\f921";
}
.i-child_friendly:before {
  content: "\f922";
}
.i-fitness_center:before {
  content: "\f923";
}
.i-free_breakfast:before {
  content: "\f924";
}
.i-golf_course:before {
  content: "\f925";
}
.i-hot_tub:before {
  content: "\f926";
}
.i-kitchen:before {
  content: "\f927";
}
.i-pool:before {
  content: "\f928";
}
.i-room_service:before {
  content: "\f929";
}
.i-smoke_free:before {
  content: "\f930";
}
.i-smoking_rooms:before {
  content: "\f931";
}
.i-spa:before {
  content: "\f932";
}
.i-_933:before {
  content: "\f933";
}
